# ISCE3 workflow resource profiles.
# job_name execution_mode walltime memory_mb nodes tasks_per_node restart_policy
default sequential 02:00:00 32000 1 1 safe
download_safe sequential 02:00:00 32000 1 1 safe
create_cslc launcher-task-list 02:00:00 120000 1 4 safe
download_cslc sequential 02:00:00 32000 1 1 safe
run_dolphin single-multicore 02:00:00 120000 1 1 safe
download_disp sequential 02:00:00 16000 1 1 safe
reformat_disp sequential 02:00:00 64000 1 1 safe
create_hdfeos5 single-multicore 08:00:00 120000 1 1 unknown
ingest_insarmaps sequential 12:00:00 32000 1 1 unsafe
